body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/shafali/image/upload/v1618335013/glen-carrie-AzyqGr35vH0-unsplash_1_cmmmnr.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
